<app-site-header></app-site-header>

<div class="row col-10">
  <div class="content-wrapper col-4">
    <div class="float-left">
      <p class="site-title">
        <a id="A2">
          <img id="Logo" src="/assets/logo.jpg" style="border-style: None;"></a>
      </p>
    </div>
  </div>
  <div class="col-6">
    <app-search></app-search>
  </div>
</div>

<div>
  <div id="body">
    <section class="featured">
      <div class="content-wrapper">
        <div class="title">

        </div>

        <section class="featured">
          <div style="margin-left: 2em;">
            <router-outlet></router-outlet>
          </div>
        </section>
      </div>
    </section>

    <section class="content-wrapper main-content clear-fix"></section>
  </div>
</div>

<app-site-footer></app-site-footer>
